@font-face {
    font-family: "Rubik";
    src: url("./assets/font/Rubik/Rubik-Regular.ttf") format("truetype");
}

/* -------------------- BASE */

:root {
    --softR: hsl(0, 94%, 66%);
    --softB: hsl(231, 69%, 60%);
    --grayB: hsl(229, 8%, 60%);
    --vadorB: hsl(229, 31%, 21%);
}

.bg-theme {
    background-color: var(--bg-vador, #42465E);
}

body {
    font-size: 18px;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}

img {
    max-width: 90%;
    max-height: 70%;
}

/* ------------------- HEADER */

.btn-softR {
    color: var(important);
    background-color: var(--softR);
    border-color:var(--sortR);
}

.btn-soft-R:hover {
    color:white;
    background-color: var(--softR);
    border-color: var(--softR);
}

/* flex avant - position inside form1*/

.form1 {
    width: 50vw;
    height: 275px;
    position: absolute;
        top: 120px;
        left: 649px;
    background-color: var(--softB);
    border-radius: 75px 0 0 75px;
}
/* -------------------- 3 */

.extension {
    height: 500px;
}

.addExt {

}

hr.dotted {
    border-top: 5px dotted var(--grayB);
    opacity: 0.5;
}
